name: "Pull Request Labeler"
on:
  pull_request_target:

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5.0.0-beta.1
        with:
          sync: true
          dot: true
